# https://direnv.net/: brew install direnv

# >>>>>> Load NVM
declare -a nvmdirs=("$NVM_DIR")
has brew && nvmdirs+=("$(brew --prefix nvm)")

for i in "${nvmdirs[@]}"; do
  if [ -e "$i/nvm.sh" ]; then
    source "$i/nvm.sh"
    nvm use || nvm install
    break
  fi
done


PATH_add ./node_modules/.bin
